  @import './base.css';
body{
    font-family: var(--mainFont);
    background-color: #eee;
}
.menu{
    display: none;
}
.header{
    background-color: #fff;
    padding: 20px 0;
}
.header .logo{
    display: flex;
    align-items: center;
    gap: 2px;
}
.header .logo img{
    width: 35px;
}
.header .logo a{
    color: var(--mainColor);
}
.navbar ul{
    display: flex;
    gap:16px;
}
.navbar ul li a{
      color: #101928;
}
.active{
    font-weight: 900 ;
}
.auth{
    display: flex;
    align-items: center;
    gap : 10px;
}
.auth a{
    font-family: var(--subFont);
    border-radius: 10px;
}
.auth .login{
    border: 2px solid var(--mainColor);
    Color:var(--mainColor);
    font-weight: 700;
}
.auth .register{
    color: #fff;
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
}
@media screen and (max-width:992px) {
    .nav,
    .auth{
        display: none;
    }
    .menu{
        display: block;
        order: 1;
    }
    
}
@media screen and (max-width:576px) {
    .container{
        width: calc(100%-120px);
    }
    .header .logo img{
        width: 20px;
    }
    .header .logo a{
        font-size: 14px;
    }
}
.testimonials{
    padding: 50px 0;
}
.testimonials .row{
    gap: 40px;
    background-color: #fff;
}
.testimonial{
  box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0,0,0,0.1);
  padding: 20px;
  box-sizing: border-box;
  width : calc((100%-40px)/2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user-info{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}
.user-data{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.user-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.rating{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}




.footer{
    background-color: #393E46;
    color: white;
    padding: 50px 0;
}
.footer row{
    gap: 20px;
}
.footer a{
    color: #fff;
}

.footer-left-side{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width:400px;

}
.footer-left-side .logo{
    display: flex;
    align-items: center;
    gap: 2px;
}
.footer-left-side .logo img{
    width: 35px;
}
.footer-left-side .icons img{
    border: 1px solid #fff;
    padding: 10px;
    width: 20px;
    height: 20px;
}

.footer-right-side{
 flex-grow: 1;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;

}
.footer-right-side nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}
.footer-right-side .footer-item{
    display: flex;
    flex-direction: column;
    gap:14px 
}
@media  screen and (max-width:1200px) {
    .footer .row{
        gap:10px;
    }
    .footer-left-side{
        width: 100%;
    }
    .footer-right-side{
        width: 100%;
    }
}
@media screen and(max-width:768px) {
    .footer-item{
        flex-direction: column;
    
    }
    .footer-left-side{
        width:100% ;
    }
    .footer-right-side{
        gap: 10px;
    }
    .footer-right-side .footer-item{
        width: calc((100%-10px)/4);
    }
    
}
@media screen and(max-width:576px) {
    .footer-right-side{
        gap: 10px;
    }
    .footer-right-side .footer-item{
        width: calc((100%-10px)/3);
    }  
}
@media screen and(max-width:400px) {
    .footer-right-side.footer-item{
        width: 100%;
        text-align: center;
    }
}